snippet main
if __name__ == "__main__":
	${0}
endsnippet

snippet pr "print"
print(${1})
${0}
endsnippet

snippet inin "int(input())"
int(input())
${0}
endsnippet

snippet insp "input().split()"
input().split()${0}
endsnippet
